@rendermode InteractiveServer
@inject IServicioSesion ServicioSesion
@inject NavigationManager Navegador


@if (ServicioSesion.GetUsuario() != null)
{   <div class="contenedor-saludo">
        <h2>¡Bienvenido/a al Sistema de Gestion, @ServicioSesion.GetUsuario().Nombre!</h2>
    </div>
}

@code
{
    void Cerrar()
    {
        ServicioSesion.LogOut();
    }
}