.text-center[b-wk38e5omu9] {
    display: flex;
    justify-content: center;
    align-items: center; /* Optional: Vertically align buttons */
}

.acciones-centradas[b-wk38e5omu9] {
    display: flex; /* Enable Flexbox layout */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    gap: 10px; /* Add spacing between buttons (adjust as needed) */
}

.expediente-menu[b-wk38e5omu9] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn[b-wk38e5omu9] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-Editar[b-wk38e5omu9] {
    background-color: #1987d7; /* Blue */
}


.btn-Eliminar[b-wk38e5omu9] {
    background-color: #dc3545; /* Red */
}

.btn-ListarTramites[b-wk38e5omu9]{
    background-color: #6e6e6e;
}
.expediente-list[b-wk38e5omu9] {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.expediente-list h2[b-wk38e5omu9] {
    margin-top: 0;
    margin-bottom: 20px;
}

table[b-wk38e5omu9] {
    width: 100%;
    border-collapse: collapse;
}

th[b-wk38e5omu9], td[b-wk38e5omu9] {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th[b-wk38e5omu9] {
    background-color: #f0f0f0;
}

ul[b-wk38e5omu9] {
    list-style: none;
    padding: 0;
}

li[b-wk38e5omu9] {
    margin-bottom: 5px;
}

a[b-wk38e5omu9] {
    text-decoration: none;
    color: #4CAF50;
}

a:hover[b-wk38e5omu9] {
    color: #3e8e41;
}
