@page "/RegistrarUsuario"
@rendermode InteractiveServer
@using SGE.Aplicacion
@using SGE.UI.Components
@inject CasoDeUsoUsuarioAlta CUUA



<h1>Registrar Usuario</h1>
<h2>Por favor, ingrese todos los datos...</h2>
<div>
    <input placeholder="Nombre" @bind="usuarioNuevo.Nombre" class="form-control">
</div>
<div>
    <input placeholder="Apellido" @bind="usuarioNuevo.Apellido" class="form-control">
</div>
<div>
    <input placeholder="Correo" @bind="usuarioNuevo.Correo" class="form-control">
</div>
<div>
    <input type="password" placeholder="Contraseña" @bind="usuarioNuevo.Contraseña"
        class="form-control @(showError ? "error" : "")">
    @if (showError)
    {
        <div class="error-message">Las contraseñas no coinciden</div>
    }
</div>
<div>
    <input type="password" placeholder="Repetir Contraseña" @bind="ContraseñaConfirm"
        class="form-control @(showError ? "error" : "")">
    @if (showError)
    {
        <div class="error-message">Las contraseñas no coinciden</div>
    }
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="text-danger">
            @ErrorMessage
        </div>
    }
</div>
<div>
    <button class="btn btn-primary" @onclick="CrearUsuario">Aceptar</button>
</div>

<Aviso @ref="aviso" urlRedirect="/iniciarSesion"></Aviso>

@code {


private string ErrorMessage = "";

    Aviso aviso;
    Usuario usuarioNuevo = new Usuario();
    string ContraseñaConfirm = "";
    bool showError = false;
    void CrearUsuario()
    {
        ErrorMessage = "";
       try
       {
        if (usuarioNuevo.Contraseña.Equals(ContraseñaConfirm))
            {
                CUUA.Ejecutar(usuarioNuevo);
                aviso?.Mostrar("Usuario registrado exitosamente!");
                vaciarCampos();
                showError = false;
                ErrorMessage = "";
            }
            else
            {
                showError = true;
            }
       }
       catch (Exception e)
       {
            ErrorMessage = e.Message;
       }
    }

    void vaciarCampos()
    {
        ContraseñaConfirm="";
        usuarioNuevo.Nombre="";
        usuarioNuevo.Apellido="";
        usuarioNuevo.Contraseña="";
        usuarioNuevo.Correo="";
    }
}


