@page "/tramite/{Id:int?}"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteModificacion CUTM 
@inject CasoDeUsoTramiteConsultaPorId CUTCID
@inject CasoDeUsoTramiteAlta CUTA 
@inject IServicioSesion ServicioSesion
@inject NavigationManager navegador 

 @if (nuevoTramite)
    {
        <h3 class="text-primary">Agregando un nuevo Tramite</h3>
    }
    else
    {
        <h3 class="text-primary">Modificando al Tramite "@t.Id"</h3>
    }

    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="expediente" class="form-label">Expediente Asociado</label>
                <input id="expediente" placeholder="Expediente Asociado" @bind="t.ExpedienteId" class="form-control" />
            </div>
            <div class="col-md-6">
                <label for="tipoTramite" class="form-label">Tipo De Tramite (0..5)</label>
                <input id="tipoTramite" placeholder="Tipo De Tramite" @bind="t.TipoTramite" class="form-control" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <label for="contenido" class="form-label">Contenido</label>
                <textarea id="contenido" placeholder="Contenido" @bind="t.ContenidoTramite" class="form-control" rows="4"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
            </div>
        </div>
    </div>

    <h6 class="text-danger text-center">@mensaje</h6>
}

@code {
    Tramite t = new Tramite();
    string mensaje = "";
    [Parameter] public int? Id {get; set; }
    
    bool nuevoTramite = true;
    protected override void OnParametersSet()
    {
        if(Id != null)
        {
           var tramiteEncontrado = CUTCID.Ejecutar(Id.Value);
           if (tramiteEncontrado != null)
           {
               t = tramiteEncontrado;
               nuevoTramite = false;
           }
        }
    }

    void Aceptar()
    {
        bool exitoso = false;
        if (nuevoTramite)
        {   
            try 
            {
                if(ServicioSesion.GetUsuario() != null) {
                Console.WriteLine("ID:"+t.Id+"expediente asociado: "+t.ExpedienteId+" "+t.ContenidoTramite);
                CUTA.Ejecutar(t, ServicioSesion.GetUsuario());
                }
                exitoso = true;
            }
            catch (Exception ex)
            {
                mensaje = ex.Message;
                Console.WriteLine(ex);
            }
        }
        else
        {
            try 
            {
                if(ServicioSesion.GetUsuario() != null) {

                CUTM.Ejecutar(t, ServicioSesion.GetUsuario());
                }
                exitoso = true;
            }
            catch (Exception ex)
            {
                mensaje = ex.Message;
                Console.WriteLine(ex);
            }
        }
        if(exitoso)
        {
            mensaje = "";
            t = new Tramite();
            navegador.NavigateTo("listaTramites");
        }
    }

}